* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 200px;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    background-color: green;
    border: 2px solid black;
}

.box {
    height: 100px;
    padding: 5em;
    width: 200px;
    background-color: rgb(17, 188, 17);
    border: 1px solid black;
}

.wrapper {
    display: flex;
    background-color: purple;
    border: 2px solid darkorchid;
}
.wrapper2 {
    display: flex;
    background-color: purple;
    border: 2px solid darkorchid;
}